body {
  background-color: #f3f5f9 !important;
}


:root {
  --back_color: #354895;
  --text_color: #61056c;
}

.main-Navber_div {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
}

.main-Navber_div img {
  width: 150px;
  height: 55px;
  position: absolute;
  top: 15px;
  left: 100px;
  cursor: pointer;
}

.logo {
  width: 200px;
  height: 70px;
  cursor: pointer;
  margin-bottom: 10px;
}

.playstore {
  width: 150px;
  height: 55px;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}


.Navber_div {
  width: 90%;
  background: white;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}



.nav_menu {
  text-decoration: none;
  padding: 10px 20px 25px 25px;
  margin-top: 20px;
}

.Navber_div a {
  text-decoration: none;
  color: #454c7e;
}


.nav_menu:hover {
  border-radius: 10px;
  cursor: pointer;
  background: var(--back_color);
  color: white;
  height: 40px;
}

.active{  
  padding: 10px 20px 25px 25px;
  margin-top: 20px;
  cursor: pointer;
  background: var(--back_color);
  color: white !important;
  height: 40px;
  border-radius: 10px;
}

 
.profile_btn {
  padding: 1px 21px 19px 15px;
  margin-top: 20px;
  color: 'black';
  cursor: pointer;
  color: white;
  background: #61056c;
  height: 45px;
  margin-left: 5px;
  border-radius: 10px;
}

.profile_btn:hover {
  cursor: pointer;
  border-radius: 10px;
  color: white;
  background: var(--back_color);
  height: 45px;
}





.courasal_div {
  font-weight: bold;
  height: 450px;
  width: 100%;
  background: var(--back_color);
}

.coura_div {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}


.courasal_left {
  width: 100%;
  color: white;
}

.courasal_left img {
  margin-left: 200px;
  width: 280px;
  height: 450px;
}

.courasal_right {
  width: 100%;
  color: white;
  padding-top: 45px;
}


.sobai_jitba {
  font-family: Hind Siliguri;
  font-size: 45px;
  padding-top: 5px;
  color: #fff;
}

.sobai_jitba_b {
  font-family: Hind Siliguri;
  font-size: 20px;
  padding-top: 20px;
  color: #fff;
}

.courasal_right button {
  width: 35%;
  height: 50px;
  margin-top: 30px;
  cursor: pointer;
  margin-right: 30px;
  background: white;
  color: #13278b;
  font-size: 16px;
  border-radius: 10px;
}

.courasal_right button:hover {
  background: #61056c;
  color: white;
  border: 3px solid #61056c;
}


.vedio_tag {
  width: 500px;
  height: 300px;
  border-radius: 20px;
}




.mentor_one {
  font-family: Hind Siliguri;
  font-size: 24px;
  font-weight: bold;
  line-height: 150%;
  color: var(--back_color);
  padding-right: 60px;
  padding-bottom: 10px;
}

.mentor_two {
  font-family: Hind Siliguri;
  font-size: 16px;
  font-weight: bold;
  line-height: 150%;
  color: var(--back_color);
  padding-right: 60px;
  padding-bottom: 10px;
}

.mentor button {
  width: 35%;
  height: 50px;
  margin-top: 30px;
  cursor: pointer;
  margin-right: 30px;
  background: #61056c;
  font-size: 16px;
  color: white;
  border: 3px solid #61056c;
  border-radius: 10px;
}

.mentor button:hover {
  width: 35%;
  height: 50px;
  margin-top: 30px;
  cursor: pointer;
  margin-right: 30px;
  background: var(--back_color);
  font-size: 16px;
  color: white;
  border: 1px solid #61056c;
  border-radius: 10px;
}



/* course slider start  */


.slick-prev {
  left: -15px !important;
}


.slick-arrow {
  z-index: 2;
  width: 51px !important;
  height: 52px !important;
  background: #354895 !important;
  border-radius: 26px !important;
}


/* course slider end */



.all_course_slide {
  font-size: 26px;
  padding-bottom: 45px;
  text-align: center;
  color: #354895;
  font-weight: bold;
}


.online_chouching {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  width: 95%;
  background-color: white;
  box-shadow: 1px 1px 11px -5px;
  border: 0 solid #e5e7eb;
  border-radius: 15px;
  transition-property: margin-top;
  transition-duration: 1s;
}

.online_chouching:hover {
  margin-top: -15px;
  position: ;
}

.online_chouching_header {
  color: #354895;
  padding-bottom: 20px;
  font-size: 26px;
  border-bottom: 1px solid #e5e7eb;
}

.online_chouching img {
  width: 85%;
  padding-bottom: 20px;
}


.main_fooder {
  font-family: Baloo Da\ 2;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #e4edf4;
  height: '200px';
  line-height: 30px;
}


.back_image {
  background-color: #354895;
}

.main_advice {}

.text-header {
  color: white;
  text-align: center;
  font-size: 38px;
  padding: 100px 20px 20px 20px;
  font-weight: bold;
}

.cat_list {
  border: 1px solid lightgray;
  height: 220px;
  margin-top: 10%;
}


.cat_list img {
  width: 100px;
  height: 110px;
  margin-left: 35%;
  margin-top: 15%;
  cursor: pointer;
}

.book_name {
  text-align: center;
  padding-top: 10px;
  font-size: 18px;
}


.cata_header_test {
  font-size: 25px;
  padding: 40px 0px 20px 0px;
  font-weight: bold;
  color: #354895;
}

.quese_main{
  background-color: white;  
  border-radius: 20px;  
  margin-bottom: 20px;
  font-size: 15px;  
  font-family: Hind Siliguri;  
}

.quese_main .form_header{
  margin-top: 25px;
  font-size: 20px;  
  text-align: center;  
  color: #343b6d;     
  /* padding: 30px; */
  padding: 30px 0px 10px 0px;
}

.quese_main .quese_forms{
  padding: 20px;
  width: 90%;
  margin-left: 20px;
}
.form_lavel{
  padding: 0px 0px 15px 0px;
}

.quese_main input::placeholder {
    font: 15px/3 sans-serif;
}
.form-control {
  height: 40px;  
  padding: 0px 40px 0px 15px !important;
  font-size: 18px !important;
}

.form-group{
  position: relative;
}
.close_btn{
  position: absolute;
  right: 15px;
  top: 40px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;

}


.star_red{
  color: red;   
}
.submit_btn{
  width: 100%;
  
}
.btn_submit{
  margin-left: 120px;    
  background-color: #04AA6D;
  width: calc(100% - 210px);
  height: 40px;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: 550;
}
.btn_submit:hover{
  background-color: #36d375;
}